<div class="w-full">
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    {% if label == 'success' %}
    <div class="my-5">
        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert">
            <span class="font-medium">Success alert!</span> {{message}}
        </div>
    </div>
    {% endif %}

    {% endfor %}
    {% endfor %}
</div>