{% extends 'base.html.twig' %}

{% block title %}Rostand MIGAN | Contact{% endblock %}

{% block body %}

<section class="py-0 mt-[70px] relative h-[80px] drop-shadow-[0_4px_8px_rgba(0,0,0,0.05)] flex items-center">
    <div class="h-[1px] w-full bg-slate-200">
    </div>
    <img src="{{asset('/img/rostand-id.jpg')}}" alt=""
        class="absolute rounded-full h-[80px] top-0 right-1/2 left-1/2 -translate-x-1/2">
</section>


<section id="contact" class="py-5 relative border-b border-slate-200">
    <div
        class="flex flex-col lg:max-w-[900px] xl:max-w-[1200px] mx-5 md:mx-10 lg:mx-auto p-3 md:p-8 items-center rounded-lg">
        <h1 class="my-2 text-2xl font-bold lowercase text-center">contact</h1>
        <p class="mt-2 text-center">
            Prêt à discuter de votre projet ou en savoir plus sur mon travail ? Remplissez le formulaire ci-dessous
            et je vous
            répondrai avec plaisir !
        </p>
        <p class="mt-2 text-center">
            Ou réservez <a href="https://calendly.com/rostand_dev/session-decouverte" class="external-link"
                target="_blank">un créneau, ici</a> pour en discuter
            ensemble.
        </p>

        <!-- Alert Widget -->
        <div class="my-5 hidden">
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 text-center"
                role="alert">
                <span class="font-medium">Votre message a bien été reçu!</span> Je vous réponds sous peu.
            </div>
            <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 text-center"
                role="alert">
                <span class="font-medium">Une erreur est survenue!</span> Veuillez <span
                    class="font-medium">ressayer</span> plus tard.
            </div>
        </div>
        <!-- End Alert Widget -->

        <form action="" class="w-full mx-auto my-5">
            <div class="flex flex-col gap-4">

                <div class="flex flex-col md:flex-row justify-between gap-4">
                    <div class="flex flex-1 flex-col p-4">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" name="name" id="name" placeholder="Votre nom et prénom" class="form-control">
                    </div>
                    <div class="flex flex-1  flex-col p-4">
                        <label for="name" class="form-label">Email</label>
                        <input type="email" name="email" id="email" placeholder="Entrez votre adresse mail"
                            class="form-control">
                    </div>
                </div>

                <div class="flex flex-col bg-transparent p-4">
                    <label for="message" class="form-label">Votre Message</label>
                    <textarea name="message" id="message"
                        placeholder="Merci de donner un maximum de détail sur le projet afin que je puisse évaluer correctement la charge de travail que représente votre projet. Cela permettra aussi d'avoir un premier chiffrage au plus prêt du devis final."
                        class="form-control"></textarea>
                </div>

                <div class="flex justify-center mt-5">
                    <button
                        class="relative w-1/2 inline-flex justify-center items-center gap-2 py-3 xl:py-4 px-4 uppercase rounded-sm border border-rostBlue text-rostBlue hover:text-white  duration-300 transition-all group overflow-hidden">
                        <div class="text-xs lg:text-sm 2xl:text-lg font-bold leading-none z-10">
                            Envoyer <span>&nbsp; &#8594;</span>
                        </div>
                        <div
                            class="absolute inset-0 bg-rostBlue transform -translate-x-[110%] group-hover:translate-x-0 transition-transform duration-500 ease-in-out">
                        </div>
                    </button>
                </div>

            </div>
        </form>
    </div>
</section>

<section id="faq" class="pt-5">
    <div
        class="flex flex-col lg:flex-row lg:max-w-[900px] xl:max-w-[1200px] mx-10 lg:mx-auto px-4 py-2 md:p-8 items-start rounded-lg">
        <div class="section-title lg:w-2/5 mx-auto">
            <h2 class="text-rostBlue">FAQ</h2>
            <p>Je réponds aux questions récurrentes.</p>
        </div>
        <div class="lg:w-3/5 flex flex-col">
            <div class="question">
                <h3>Quels sont vos disponibilités ?</h3>
                <p>
                    N'hésitez pas à soumettre une demande de devis pour planifier en avance et réserver un créneau
                    dédié au développement de votre projet.
                </p>
            </div>
            <div class="question">
                <h3>Quels sont vos tarifs ?</h3>
                <p>
                    La tarification varie en fonction du projet et du temps nécessaire. En moyenne, mon tarif
                    journalier est d'environ 400€.
                </p>
            </div>
            <div class="question">
                <h3>Comment réalisez-vous vos missions ?</h3>
                <p>
                    Mes missions ? Tout se fait à distance, une touche de digital, une pincée de code, et le tour
                    est joué.
                </p>
            </div>
            <div class="question">
                <h3>Assurez-vous également le design de vos projets ?</h3>
                <p>
                    Concernant la conception graphique des applications, je recommande de fournir le design
                    nécessaire pour la mission.
                    <br>
                    N'hésiter pas à collaborer avec
                    <a href="" class="external-link">ak58graph</a>
                    pour le design de vos projets.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}