<ul class="nav nav-tabs" role="tablist">
</ul>
<div>
    <div class="btn-wrapper">
        <a href="{{path('admin_project_add')}}" class="btn btn-primary text-white me-0"><i class="icon-plus"></i>
            Ajouter un projet</a>
    </div>
</div>