<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{path('admin_main')}}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#portfolio" aria-expanded="false"
                aria-controls="portfolio">
                <i class="menu-icon mdi mdi-folder-information"></i>
                <span class="menu-title">Portfolio</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="portfolio">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if app.current_route=='admin_stack' %}active fw-bold{% endif%}"
                            href="{{path('admin_stack')}}">Stack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.current_route=='admin_filter' %}active fw-bold{% endif%}"
                            href="{{path('admin_filter')}}">Filtres</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#infos" aria-expanded="false" aria-controls="infos">
                <i class="menu-icon mdi mdi-folder-information"></i>
                <span class="menu-title">Profil</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="infos">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if app.current_route=='admin_profil' %}active fw-bold{% endif%}"
                            href="{{path('admin_profil')}}">Infos profil</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>