@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities  {
    .toggle-btn {
            @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg]
    }
    img, svg, i, .svg svg, .stack svg {
        @apply opacity-0;
        transition: opacity ease-in .3s;
    }
    img.is-loaded, svg.is-loaded, i.is-loaded, .svg.is-loaded svg, .stack.is-loaded svg {
        @apply opacity-100;
    }
}

@layer components {
    #hero::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(to right, rgb(15 23 42 / 0.5), rgb(15 23 42 / 0.5)), url(../img/codeur_1098-18084.webp);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(1px) brightness(30%);
    }
    /* #hero::after {
        @apply bg-slate-900/50;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    } */

    .nav-btn-first {
            @apply transition-all select-none h-10 flex justify-center items-center rounded-xl text-sm font-medium bg-slate-200 text-slate-800 py-3 px-3 gap-1;
    }    
    .nav-btn-first:disabled {
        @apply opacity-35 pointer-events-none
    }
    .nav-btn-first:hover {
        @apply bg-slate-300;
    }
    .nav-btn-second {
        @apply transition-all select-none h-10 flex items-center justify-center rounded-xl text-sm font-medium gap-1 bg-transparent text-gray-800 py-3 px-3;
    }
    .nav-btn-second:disabled {
        @apply opacity-35 pointer-events-none
    }
    .nav-btn-second:hover {
        @apply bg-gray-200 text-gray-600;
    }

    .stacks {
        @apply p-3 w-[90%] mx-auto flex flex-wrap items-center justify-between rounded-lg md:w-[80%] lg:w-[60%] lg:-tracking-tighter bg-slate-500
    }
    .stacks .stack {
        @apply  m-[1%] flex items-center flex-grow-0 flex-shrink-[1] basis-[30%] justify-evenly h-14 md:h-16 shadow-lg rounded-lg bg-[#150c21] md:basis-[18%] relative overflow-hidden;
    }
    .stacks .stack p {
        @apply text-slate-50;
    }
    .stacks .stack::after {
        @apply absolute bottom-0 right-0 left-1 block h-1 bg-slate-50 rounded-sm;
    }
    .stacks .stack .stack-icon svg {
        @apply w-5 h-5 md:h-7 md:w-7 text-slate-50 fill-slate-50;
    }
    .stacks .stack .stack-title p {
        @apply text-xs md:text-sm ;
    }

    section {
        @apply py-20;
    }
    section .section-title {
        @apply mb-9;
    }
    section .section-title h2 {
        @apply relative text-2xl capitalize font-extrabold text-center mb-6 tracking-widest;
    }
    .section-title h2::after {
        @apply absolute top-[calc(100%+1rem)] left-1/2 -translate-x-1/2 h-1 w-10 rounded-sm bg-blue-600;
        content: "";
    }

    .services {
        @apply sm:flex sm:flex-col sm:justify-center lg:flex-row lg:gap-0
    }
    .services-column {
        @apply w-auto sm:w-[540px] sm:mx-auto lg:w-[490px] xl:w-[540px] 2xl:w-[584px] lg:ml-0 lg:mr-16
    }
    .service-item {
        @apply text-sm mt-8 py-8 px-7 rounded-2xl bg-white lg:mt-16 relative;
        box-shadow: 0 50px 60px #0000001a;
    }
    .services .intro {
        @apply pl-5 pr-10 bg-transparent shadow-none rounded-none
    }
    .intro-description {
        @apply opacity-90 mb-4 text-base
    }
    .intro-description p{
        @apply mt-2
    }
    .service-item .service-title {
        @apply w-[200px] md:w-[250px] mb-4 text-2xl relative;
    }
    .service-item .service-action {
        @apply relative
    }
    .service-item .service-description {
        @apply w-[280px] md:w-[300px] mb-5
    }
    .service-item .service-description p {
        @apply opacity-80 mb-0
    }
    .spider {
        @apply absolute overflow-hidden;
        width: 300px;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0.7;
    }
    .spider .line {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        height: 1px;
        transform-origin: top right;
    }
    .spider .shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 100px -100px 100px #fff inset;
        overflow: hidden;
    }
    .spider .line.horizontal {
        transform: rotate(30deg);
    }
    .spider .line.vertical {
        transform: rotate(-30deg);
    }
    .line:nth-child(1) {
        top: 120px;
    }
    .line:nth-child(2) {
        top: 240px;
    }
    .line:nth-child(3) {
        top: 360px;
    }
    .line:nth-child(4) {
        top: -120px;
    }

    .line:nth-child(5) {
        top: 0px;
    }
    .line:nth-child(6) {
        top: 120px;
    }
    .line:nth-child(7) {
        top: 240px;
    }
    .service-item.item-1 .spider .line {
        @apply bg-indigo-600;
    }
    .service-item.item-2 .spider .line {
        @apply bg-red-400;
    }
    .service-item.item-3 .spider .line {
        @apply bg-orange-300;
    }
    .service-item.item-4 .spider .line {
        @apply bg-cyan-400;
    }
    .service-item.item-5 .spider .line {
        @apply bg-indigo-600;
    }
    .service-item .illustration {
        @apply absolute -top-[50px] -right-[60px] opacity-0 -mt-[40px]  md:-mr-[30px] md:-mt-[30px];
        transform: translate(40px) translateY(-25px);
        will-change: opacity, transform;
        transition-property: opacity, transform;
        transition-duration: .5s, .5s;
        transition-timing-function: cubic-bezier(0, 0, .25, 1);
    }
    .service-item .illustration.is-visible {
        @apply absolute -top-[60px] -right-[80px] opacity-100 -mt-[40px] -mr-[35px] md:-mr-[10px] md:-mt-[15px];
        transform: translate(0) translateY(0);
    }
    .service-item.item-5 .illustration.is-visible {
        @apply -top-[30px];
    }
    .service-item .illustration img {
        @apply scale-[50%] lg:scale-[70%] xl:scale-100 opacity-0;
        transition: opacity ease-in .3s;
    }
    .service-item .illustration img.is-loaded {
        @apply opacity-100;
    }
    
    .rostand {
        @apply relative overflow-hidden;
    }
    .rostand .gradient {
        @apply rounded-br-[200px];
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 888px;
        background: radial-gradient(farthest-side at 60% 80%, rgba(148, 163, 184, 0.1), transparent);
        /* background: radial-gradient(circle, transparent 0%, #733236 33%, transparent 63%); */
    }
    .rostand-migan {
        @apply text-white;
    }
    .rostand-migan p {
        @apply text-wrap mb-1 p-1 text-slate-400;
    }
    .rostand-migan p b {
        @apply text-slate-200;
    }
    
    .social-bubble {
        @apply absolute bottom-[calc(100%+5px)] text-xs whitespace-nowrap bg-slate-700 p-1 rounded-md text-slate-100 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100;
    }
    .social-bubble:after {
        @apply bg-slate-700;
        content: "";
        position: absolute;
        top: calc(100% - 4px);
        left: calc(50% - 4px);
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
    }

    .call-to-action {
        @apply flex justify-center items-center;
    }
    .call-to-action .action-container {
        @apply flex justify-center px-5 md:px-12 xl:px-28 w-full 2xl:min-h-[40em];
    }
    .call-to-action .action-container .actions {
        @apply flex flex-col text-center sm:flex-row sm:text-left w-full bg-white;
    }
    .call-to-action .action-container .actions .action {
        @apply mb-4 p-8 sm:mb-0 sm:w-1/2 md:p-12 xl:p-20;
    }
    .call-to-action .action-container .actions .action article {
        @apply mb-10 2xl:mb-20;
    }
    .call-to-action .action-container .actions .action article h1 {
        @apply text-2xl lg:text-3xl 2xl:text-4xl 2xl:mt-8 font-black text-indigo-600 lg:w-[95%];
    }
    .call-to-action .action-container .actions .action article p {
        @apply my-5 lg:text-xl xl:text-2xl 2xl:my-8 lg:my-8 opacity-70;
    }

    #get-in-touch .contact {
       @apply w-5/6 sm:w-2/3 md:w-1/2 h-20 mx-auto -mt-28 bg-indigo-600 text-white flex items-center rounded-full justify-center text-center shadow-2xl;
    }
    #get-in-touch .contact h2 {
        @apply font-bold sm:text-lg md:text-xl lg:text-2xl xl:text-3xl w-full transition-all duration-500;
    }
} 